<template>
  <v-card>
    <v-card-title class="align-start">
      <span>Aktivitas</span>
      <v-spacer></v-spacer>
    </v-card-title>

    <v-card-text>
      <div
        v-for="(data, index) in riskGraph"
        :key="data.risk_graph_id"
        :class="`d-flex align-start ${index > 0 ? 'mt-8' : ''}`"
      >
        <div class="d-flex align-center flex-grow-1 flex-wrap">
          <div>
            <span class="text-xs text-no-wrap">{{ data.graph_title }}</span>
          </div>

          <v-spacer></v-spacer>

          <div class="ms-1">
            <p class="text--primary font-weight-medium mb-1 text-right">
              {{ data.graph_value }}
            </p>
            <v-progress-linear
              style="width: 100px"
              :value="100"
              :color="resolveVariation(data.graph_title).color"
            ></v-progress-linear>
          </div>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import DashboardServices from "@/services/dashboard";

export default {
  data() {
    return {
      loading: false,
      riskGraph: [],
    };
  },
  methods: {
    resolveVariation(data) {
      if (data === "Operasional") return { color: "#ffb899" };
      if (data === "Pendanaan") return { color: "#d8ff99" };
      if (data === "Perkreditan") return { color: "#99c8ff" };
      else return { color: "#ffb899" };
    },
    async getRiskGraph() {
      this.loading = true;

      await DashboardServices.getRiskGraph()
        .then((res) => {
          console.log(res);
          this.riskGraph = res.data;
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  created() {
    this.getRiskGraph();
  },
};
</script>
