<template>
  <v-card>
    <v-card-title class="align-start">
      <span class="font-weight-semibold">Status</span>
    </v-card-title>

    <v-card-text>
      <v-row v-if="loading">
        <v-col v-for="data in [1, 2, 3]" :key="data" cols="6" md="4">
          <v-skeleton-loader
            type="list-item-avatar-two-line"
            size="44"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          v-for="data in indikatorList"
          :key="data.title"
          cols="6"
          md="4"
          class="d-flex align-center"
        >
          <v-avatar
            size="44"
            :color="resolveStatisticsIconVariation(data.indikator_name).color"
            rounded
            class="elevation-1"
          >
            <v-icon dark color="white" size="30">
              {{ resolveStatisticsIconVariation(data.indikator_name).icon }}
            </v-icon>
          </v-avatar>
          <div class="ms-3">
            <p class="text-xs mb-0">
              {{ data.indikator_name }}
            </p>
            <h3 class="text-xl font-weight-semibold">
              {{ data.indikator_count }}
            </h3>
          </div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import {
  mdiAccountOutline,
  mdiCurrencyUsd,
  mdiTrendingUp,
  mdiDotsVertical,
  mdiLabelOutline,
} from "@mdi/js";
import DashboardServices from "../../services/dashboard";

export default {
  data() {
    const resolveStatisticsIconVariation = (data) => {
      if (data === "Unit kerja")
        return { icon: mdiTrendingUp, color: "primary" };
      if (data === "Aktifitas")
        return { icon: mdiAccountOutline, color: "success" };
      if (data === "Indikator")
        return { icon: mdiLabelOutline, color: "warning" };

      return { icon: mdiAccountOutline, color: "success" };
    };

    return {
      resolveStatisticsIconVariation,

      icons: {
        mdiDotsVertical,
        mdiTrendingUp,
        mdiAccountOutline,
        mdiLabelOutline,
        mdiCurrencyUsd,
      },

      loading: false,
      indikatorList: [],
    };
  },
  methods: {
    async getIndikator() {
      this.loading = true;

      await DashboardServices.getIndikator()
        .then((res) => {
          this.indikatorList = res.data;
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  created() {
    this.getIndikator();
  },
};
</script>
