<template>
  <v-card>
    <v-card-title class="align-start">
      <span>Risk Status</span>
      <v-spacer></v-spacer>
    </v-card-title>

    <v-card-text>
      <v-row v-if="loading">
        <v-col v-for="data in [1, 2, 3]" :key="data" cols="12">
          <v-skeleton-loader
            type="list-item-avatar-two-line"
            size="44"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
      <div
        v-for="(data, index) in riskList"
        :key="index"
        :class="`d-flex align-start ${index > 0 ? 'mt-8' : ''}`"
      >
        <v-avatar rounded size="38" color="#5e56690a" class="me-4">
          <v-img
            contain
            :src="resolveStatisticsIconVariation(data.risk_status_name).avatar"
            height="20"
          ></v-img>
        </v-avatar>

        <div class="d-flex align-center flex-grow-1 flex-wrap">
          <div>
            <h4 class="font-weight-medium">
              {{ data.risk_count }}
            </h4>
            <span class="text-xs text-no-wrap">{{
              data.risk_status_name
            }}</span>
          </div>

          <v-spacer></v-spacer>

          <div class="ms-1">
            <p class="text--primary font-weight-medium mb-1 text-right">
              {{ data.risk_percent }}%
            </p>
            <v-progress-linear
              style="width: 100px"
              value="100"
              :color="
                resolveStatisticsIconVariation(data.risk_status_name).color
              "
            ></v-progress-linear>
          </div>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import DashboardServices from "../../services/dashboard";

export default {
  data() {
    return {
      loading: false,
      riskList: [],
    };
  },
  methods: {
    resolveStatisticsIconVariation(data) {
      if (data === "Need Response Anomaly")
        return {
          avatar: require("@/assets/images/logos/zipcar.png"),
          color: "#ffb899",
        };
      if (data === "Done")
        return {
          avatar: require("@/assets/images/logos/bitbank.png"),
          color: "#d8ff99",
        };
      if (data === "Process")
        return {
          avatar: require("@/assets/images/logos/aviato.png"),
          color: "#99c8ff",
        };

      return {
        avatar: require("@/assets/images/logos/zipcar.png"),
        color: "#ffb899",
      };
    },
    async getRiskStatus() {
      this.loading = true;

      await DashboardServices.getRiskStatus()
        .then((res) => {
          this.riskList = res.data;
        })
        .catch((err) => {
          console.log(err);
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  created() {
    this.getRiskStatus();
  },
};
</script>
