<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :items="items"
      item-key="name"
      class="table-rounded"
      hide-default-footer
      disable-sort
      @page-count="pageCount = $event"
      :page.sync="page"
      :items-per-page="itemsPerPage"
    >
      <template #[`item.actions`]="{ item }">
        <template v-if="item.status === 'Done'">Done</template>
        <template v-else>
          <v-btn
            @click="processItem(item)"
            color="primary"
            class="rounded-lg"
            small
          >
            Process
          </v-btn>
        </template>
      </template>
    </v-data-table>
    <div class="d-flex justify-space-between align-center pt-2">
      <v-spacer></v-spacer>

      <v-pagination
        v-model="page"
        :length="pageCount"
        :total-visible="5"
      ></v-pagination>
    </div>
  </v-card>
</template>

<script>
export default {
  props: ["items"],
  data() {
    return {
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,

      headers: [
        { text: "Posisi Data", value: "posisi" },
        { text: "Region Code", value: "region_kode" },
        { text: "Region Name", value: "region_name" },
        { text: "Main BR Code", value: "mainbr_kode" },
        { text: "Main BR Name", value: "mainbr_name" },
        { text: "Uker Code", value: "uker_kode" },
        { text: "Uker Name", value: "uker_name" },
        { text: "Uker Geotag", value: "uker_geotag" },
        { text: "Action", value: "actions" },
      ],
    };
  },
  methods: {
    processItem(value) {
      this.$emit("processItem", value);
    },
  },
};
</script>
