<template>
  <v-card elevation="2" class="pa-4" style="height: 100%">
    <div class="d-flex justify-space-between font-weight-medium text-h6">
      <div class="primary--text">Aktivitas Pendanaan</div>
      <div class="warning--text">10 %</div>
    </div>
    <div class="mt-10">
      <div
        class="d-flex justify-space-between align-center pb-3"
        style="border-bottom: 1px solid #d9d9d9; cursor: pointer"
      >
        <div style="width: 100%">
          <v-row no-gutters>
            <v-col
              cols="2"
              class="align-self-center text-center warning--text"
              style="font-size: 13px"
            >
              20%
            </v-col>
            <v-col cols="10" class="font-weight-medium" style="font-size: 13px"
              >Penarikan simpanan aktif</v-col
            >
          </v-row>
        </div>
        <div>
          <v-img :src="require('~/assets/img/icon/response-icon.png')"></v-img>
        </div>
      </div>
      <div
        class="d-flex justify-space-between align-center pb-3 mt-4"
        style="border-bottom: 1px solid #d9d9d9; cursor: pointer"
      >
        <div style="width: 100%">
          <v-row no-gutters>
            <v-col
              cols="2"
              class="align-self-center text-center warning--text"
              style="font-size: 13px"
            >
              20%
            </v-col>
            <v-col cols="10" class="font-weight-medium" style="font-size: 13px">
              Rekening aktif
            </v-col>
          </v-row>
        </div>
        <div>
          <v-img :src="require('~/assets/img/icon/response-icon.png')"></v-img>
        </div>
      </div>
      <div
        class="d-flex justify-space-between align-center pb-3 mt-4"
        style="border-bottom: 1px solid #d9d9d9; cursor: pointer"
      >
        <div style="width: 100%">
          <v-row no-gutters>
            <v-col
              cols="2"
              class="align-self-center text-center warning--text"
              style="font-size: 13px"
            >
              20%
            </v-col>
            <v-col cols="10" class="font-weight-medium" style="font-size: 13px">
              Side streaming
            </v-col>
          </v-row>
        </div>
        <div>
          <v-img
            :src="require('~/assets/img/icon/processing-icon.png')"
          ></v-img>
        </div>
      </div>
      <div
        class="d-flex justify-space-between align-center pb-3 mt-4"
        style="border-bottom: 1px solid #d9d9d9; cursor: pointer"
      >
        <div style="width: 100%">
          <v-row no-gutters>
            <v-col
              cols="2"
              class="align-self-center text-center warning--text"
              style="font-size: 13px"
            >
              20%
            </v-col>
            <v-col cols="10" class="font-weight-medium" style="font-size: 13px">
              Kelonggaran tarik
            </v-col>
          </v-row>
        </div>
        <div>
          <v-img :src="require('~/assets/img/icon/done-icon.png')"></v-img>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  methods: {
    setChoose(value) {
      this.$emit("setChoose", value);
    },
  },
};
</script>
