<template>
  <v-card elevation="2" class="pa-4" style="height: 100%">
    <div class="d-flex justify-space-between font-weight-medium text-h6">
      <div class="primary--text">Aktivitas Perkreditan</div>
      <div class="warning--text">10 %</div>
    </div>
    <div class="mt-4">
      <div
        v-for="data in activities"
        :key="data.activity_id"
        class="d-flex justify-space-between align-center py-3"
        style="border-bottom: 1px solid #d9d9d9; cursor: pointer"
        @click="setChoose(data)"
      >
        <div style="width: 100%">
          <v-row no-gutters>
            <v-col
              cols="2"
              class="align-self-center text-center warning--text"
              style="font-size: 13px"
            >
              {{ data.activity_percent }}
            </v-col>
            <v-col cols="10" class="font-weight-medium" style="font-size: 13px">
              {{ data.activity_title }}
            </v-col>
          </v-row>
        </div>
        <div class="font-weight-medium" style="font-size: 13px">
          {{ data.activity_item_status }}
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  props: ["activities"],
  methods: {
    setChoose(value) {
      if (value.activity_id === 9 || value.activity_id === 10)
        return this.$emit("setChoose", value);
      else return;
    },
  },
};
</script>
