<template>
  <v-expansion-panels v-model="panel">
    <v-expansion-panel class="rounded">
      <v-expansion-panel-header hide-actions>
        <v-row>
          <v-col cols="6">
            <v-row>
              <v-col class="text-capitalize">
                {{ getRiskData[0].key }}
              </v-col>
              <v-col>:</v-col>
              <v-col class="text-capitalize">
                {{ getRiskData[0].payload }}
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="6" class="d-flex justify-end">
            <v-icon>mdi-chevron-down</v-icon>
          </v-col>
        </v-row>
      </v-expansion-panel-header>

      <v-expansion-panel-content>
        <v-row v-for="(data, index) in getRiskData" :key="index">
          <v-col cols="6">
            <v-row>
              <v-col class="text-capitalize">{{ data.key }}</v-col>
              <v-col>:</v-col>
              <v-col class="text-capitalize">
                {{ data.payload }}
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
export default {
  data() {
    return {
      panel: [],
    };
  },
  computed: {
    getRiskData() {
      return this.$store.getters["risk/GET_DETAIL_RISK_ALL"];
    },
  },
};
</script>
