<template>
  <v-card>
    <v-card-title class="text-h5 primary--text font-weight-regular">
      Langkah Verifikasi
    </v-card-title>

    <v-divider></v-divider>

    <div class="px-4 my-6">
      <ol type="number">
        <li v-for="data in getVerifikasiData" :key="data.id">
          {{ data.text }}
        </li>
      </ol>
    </div>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" text @click="closeDialog"> Done </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { verifikasi_kredit, verifikasi_shared_pwd } from "./dummy";

export default {
  props: ["dialog"],
  data() {
    return {
      verifikasi_kredit,
      verifikasi_shared_pwd,
    };
  },
  methods: {
    closeDialog() {
      this.$emit("closeDialog", false);
    },
  },
  computed: {
    getChooseData() {
      return this.$store.getters["risk/GET_DETAIL_RISK_CHOOSEN"];
    },
    getVerifikasiData() {
      if (this.getChooseData === "Sharing/Bocor Password") {
        return verifikasi_shared_pwd;
      } else {
        return verifikasi_kredit;
      }
    },
  },
};
</script>
