<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs :items="breadcrumbs" class="pa-0">
        <template v-slot:divider>
          <v-icon>mdi-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
      <v-divider class="my-2"></v-divider>
    </v-col>

    <v-col cols="12">
      <v-row>
        <v-col cols="8">
          <v-row>
            <v-col cols="12">
              <dashboard-statistics-card></dashboard-statistics-card>
            </v-col>
            <v-col cols="12" style="position: relative">
              <div
                id="map-wrap"
                style="height: 600px; width: 100%; position: relative"
              >
                <client-only>
                  <l-map
                    ref="myMap"
                    :zoom="11"
                    :center="[3.597031, 98.678513]"
                    @ready="doSomethingOnReady()"
                  >
                    <l-tile-layer
                      url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"
                    ></l-tile-layer>
                    <!-- <l-marker :lat-lng="[3.597031, 98.678513]"></l-marker> -->
                    <LHeatmap
                      :lat-lng="[{ lat: 3.597031, lng: 98.678513 }]"
                      :radius="50"
                      :gradient="{ 1.0: 'red' }"
                    />
                    <LHeatmap
                      :lat-lng="[{ lat: 3.597031, lng: 97.678513 }]"
                      :radius="20"
                      :gradient="{ 0.1: 'green', 0.5: 'yellow', 0.9: 'red' }"
                    />
                  </l-map>
                </client-only>
              </div>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="4">
          <v-row>
            <v-col cols="12">
              <dashboard-card-total-earning></dashboard-card-total-earning>
            </v-col>
            <v-col cols="12">
              <dashboard-card-activity></dashboard-card-activity>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { Icon } from "leaflet";
import DashboardStatisticsCard from "../../components/dashboard/DashboardStatisticsCard.vue";
import DashboardCardTotalEarning from "../../components/dashboard/DashboardCardTotalEarning.vue";
import DashboardCardActivity from "../../components/dashboard/DashboardCardActivity.vue";

delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});

export default {
  layout: "dashboard",
  head() {
    return {
      title: "Dashboard",
    };
  },
  middleware: "authenticated",
  components: {
    DashboardStatisticsCard,
    DashboardCardTotalEarning,
    DashboardCardActivity,
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: true,
          href: "/admin",
        },
      ],
    };
  },
  methods: {
    doSomethingOnReady() {
      this.map = this.$refs.myMap.mapObject;
    },
  },
};
</script>

<style scoped>
@import "leaflet/dist/leaflet.css";
</style>
