<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs :items="breadcrumbs" class="pa-0">
        <template v-slot:divider>
          <v-icon>mdi-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
      <v-divider class="my-2"></v-divider>
    </v-col>

    <v-col cols="12">
      <nuxt-link to="/admin/detail-risk" class="text-decoration-none">
        <v-btn color="primary" outlined small>
          <v-icon left> mdi-arrow-left </v-icon>
          Detail Risk
        </v-btn>
      </nuxt-link>
    </v-col>

    <v-col cols="12">
      <v-card class="d-flex align-end pa-4" rounded="lg" elevation="2">
        <v-row>
          <v-col cols="12">
            <div class="d-flex align-end mb-4">
              <h4 class="secondary--text mr-5">{{ getTitleRisk }}</h4>
            </div>

            <div class="d-flex align-end">
              <h4 class="secondary--text mr-5">Posisi</h4>
              <div class="secondary--text">10 Oktober 2021</div>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-col>

    <v-col cols="12">
      <v-card class="pa-4" rounded="lg" elevation="2">
        <v-row>
          <v-col cols="12">
            <div>Operasional</div>
            <v-divider></v-divider>
          </v-col>

          <v-col cols="12">
            <div class="d-flex align-center justify-space-between">
              <div class="black--text font-weight-medium">
                {{ getTitleRisk }}
              </div>
              <v-dialog v-model="dialog" width="720">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="accent" x-small v-bind="attrs" v-on="on">
                    Langkah Verifikasi
                  </v-btn>
                </template>
                <detail-activity-verification-modal
                  @closeDialog="closeDialog()"
                />
              </v-dialog>
            </div>
          </v-col>

          <v-col cols="12">
            <detail-activity-panel></detail-activity-panel>
          </v-col>
        </v-row>
      </v-card>
    </v-col>

    <v-col cols="12">
      <v-card class="pa-4" rounded="lg" elevation="2">
        <v-row>
          <v-col cols="12">
            <h4 class="black--text font-weight-medium mb-2">Kondisi Singkat</h4>
            <v-textarea
              name="condition"
              outlined
              v-model="condition"
            ></v-textarea>

            <div class="d-flex align-center justify-space-between">
              <v-spacer></v-spacer>
              <v-btn color="accent" small @click="postRiskCondition">
                Kirim
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-col>

    <v-col cols="12">
      <v-card class="pa-4" rounded="lg" elevation="2">
        <v-row>
          <v-col cols="12">
            <div>Kesimpulan</div>
            <v-divider></v-divider>
          </v-col>

          <template v-if="status === ''">
            <v-col cols="12">
              <div class="d-flex justify-center">
                <v-btn
                  @click="setStatus('TERJADI')"
                  class="mx-3"
                  width="150"
                  color="accent"
                >
                  Terjadi
                </v-btn>
                <v-btn
                  @click="setStatus('TIDAK_TERJADI')"
                  class="mx-3"
                  width="150"
                  color="accent"
                >
                  Tidak Terjadi
                </v-btn>
              </div>
            </v-col>
          </template>

          <template v-if="status !== ''">
            <v-col cols="12">
              <v-card class="pa-4" rounded="lg" elevation="4">
                <div class="text-body-2 font-weight-medium">
                  {{
                    status === "TERJADI"
                      ? "Terjadi Kelemahan"
                      : "Tidak Terjadi Kelemahan"
                  }}
                </div>
                <div class="mt-2">
                  <v-radio-group v-model="terjadi_model">
                    <v-radio
                      v-for="item in list_terjadi_data"
                      :key="item.ActionID"
                      :label="item.desc"
                      :value="item"
                    ></v-radio>
                  </v-radio-group>
                </div>
                <div v-if="terjadi_model.desc === 'Lainnya'">
                  <v-textarea
                    name=""
                    filled
                    label="Alasan"
                    auto-grow
                    value=""
                  ></v-textarea>
                </div>
              </v-card>
            </v-col>

            <v-col>
              <div class="d-flex justify-space-between align-items-center">
                <v-btn
                  @click="setStatus('')"
                  class="primary--text white mx-3"
                  width="150"
                >
                  Cancel
                </v-btn>

                <div class="d-flex justify-space-between align-items-center">
                  <v-dialog
                    v-model="attach_terjadi_dialog"
                    persistent
                    max-width="900px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        class="primary--text white mx-3"
                        width="150"
                        v-bind="attrs"
                        v-on="on"
                      >
                        Attach {{ getFileList && `(${getFileList})` }}
                      </v-btn>
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="text-h5">Upload Evidence</span>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text class="mt-4">
                        <v-row v-for="(list, i) in document_list" :key="i">
                          <v-col cols="11">
                            <v-row>
                              <v-col cols="6">
                                <v-file-input
                                  v-model="list.files"
                                  chips
                                  multiple
                                  label="Input File (Multiple)"
                                ></v-file-input>
                              </v-col>
                              <v-col
                                :cols="list.document_type === 'Others' ? 3 : 6"
                              >
                                <v-autocomplete
                                  v-model="list.document_type"
                                  :items="[
                                    'LKN',
                                    'Surat Pernyataan',
                                    'Berita Acara Konfirmasi',
                                    'Foto',
                                    'Others',
                                  ]"
                                  label="Jenis Dokumen"
                                ></v-autocomplete>
                              </v-col>
                              <v-col
                                cols="3"
                                v-if="list.document_type === 'Others'"
                              >
                                <v-text-field
                                  v-model="list.other_document"
                                  label="Tipe Dokumen Lainnya"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col v-if="i !== 0" cols="1">
                            <v-btn
                              @click="removeDocumentList(list)"
                              class="mx-2"
                              fab
                              dark
                              small
                              color="red"
                            >
                              <v-icon dark> mdi-minus </v-icon>
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-card-text>

                      <v-card-actions>
                        <v-btn
                          color="red darken-1"
                          text
                          @click="attach_terjadi_dialog = false"
                        >
                          Tutup
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="green darken-1"
                          text
                          @click="addDocumentList"
                        >
                          Tambah
                        </v-btn>
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="attach_terjadi_dialog = false"
                        >
                          Upload
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-btn
                    class="primary--text white mx-3"
                    width="150"
                    :disabled="getFileList === ''"
                    :loading="loading"
                    @click="setSubmit"
                  >
                    Submit
                  </v-btn>
                </div>
              </div>
            </v-col>
          </template>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import DetailActivityPanel from "@/components/detail-risk/DetailActivityPanel.vue";
import DetailActivityVerificationModal from "@/components/detail-risk/DetailActivityVerificationModal.vue";
import DetailRiskServices from "@/services/detailRisk.js";

export default {
  layout: "dashboard",
  head() {
    return {
      title: "Detail Risk",
    };
  },
  middleware: "authenticated",
  components: {
    DetailActivityPanel,
    DetailActivityVerificationModal,
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          href: "breadcrumbs_dashboard",
        },
        {
          text: "Detail Risk",
          disabled: false,
          href: "breadcrumbs_link_1",
        },
        {
          text: "Detail",
          disabled: true,
          href: "breadcrumbs_link_2",
        },
      ],
      dialog: false,
      attach_terjadi_dialog: false,
      condition: "",
      status: "",
      list_terjadi_data: [],
      terjadi_model: 1,

      document_list: [
        {
          files: [],
          document_type: "",
          other_document: "",
        },
      ],

      loading: false,
      snackbar: false,
    };
  },

  methods: {
    async postRiskCondition() {
      const id = this.$route.params.id;
      const formData = new FormData();
      formData.append("kondisi_singkat", this.condition);

      await DetailRiskServices.postRiskCondition(formData, { id: id })
        .then((res) => {
          console.log(res);
          location.reload();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async getActionStep(process_value) {
      const id = this.$route.params.id;
      await DetailRiskServices.getActionStep({
        activity_item_id: 9,
        procces: process_value,
        RiskID: id,
      })
        .then((res) => {
          console.log(res);
          this.list_terjadi_data = res.data[0].list_option;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    closeDialog() {
      this.dialog = false;
    },
    setStatus(value) {
      this.status = value;
    },
    setSubmit() {
      this.loading = true;
      this.snackbar = true;

      setTimeout(() => {
        this.$router.push("/admin/detail-risk");
      }, 2000);
    },
    addDocumentList() {
      this.document_list.push({
        files: [],
        document_type: "",
        other_document: "",
      });
    },
    removeDocumentList(payload) {
      this.document_list = this.document_list.filter(
        (data) => data !== payload
      );
    },
  },
  computed: {
    getChooseData() {
      return this.$store.getters["risk/GET_DETAIL_RISK_CHOOSEN"];
    },
    getTitleRisk() {
      return this.$store.getters["risk/GET_DETAIL_RISK_TITLE"];
    },
    getFileList() {
      const data = this.document_list.flatMap((data) => data.files);
      if (!data || data.length === 0) {
        return "";
      } else {
        return data.length;
      }
    },
  },
  watch: {
    status() {
      if (this.status === "TERJADI") return this.getActionStep(1);
      if (this.status === "TIDAK_TERJADI") return this.getActionStep(0);
    },
  },
};
</script>
