<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs :items="breadcrumbs" class="pa-0">
        <template v-slot:divider>
          <v-icon>mdi-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
      <v-divider class="my-2"></v-divider>
    </v-col>

    <!-- FIRST STATE  -->
    <template v-if="first_state">
      <v-col cols="12">
        <v-card class="px-4 pt-4 pb-1" elevation="2" rounded="lg">
          <v-list dense>
            <v-list-item-group color="primary">
              <h4 class="black--text font-weight-medium mb-2">List Risk</h4>
              <template v-for="(item, index) in risk_list">
                <v-list-item
                  :key="item.branch_risk_id + item.branch_risk_name"
                  @click="setSelectedRisk(item)"
                >
                  <v-list-item-content>
                    <v-list-item-title
                      v-text="item.branch_risk_name"
                    ></v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-list-item-title
                      v-text="item.branch_risk_count"
                    ></v-list-item-title>
                  </v-list-item-icon>
                </v-list-item>

                <v-divider
                  v-if="index < risk_list.length - 1"
                  :key="index + 'divider'"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-col>
    </template>

    <!-- SECOND STATE  -->
    <template v-else>
      <v-col cols="12">
        <v-btn color="primary" small @click="setListRisk()">
          <v-icon left> mdi-arrow-left </v-icon>
          Kembali
        </v-btn>
      </v-col>

      <v-col cols="12">
        <v-card class="pa-4">
          <v-row>
            <v-col cols="6">
              <h4 class="black--text font-weight-medium mb-2">Region</h4>
              <v-select
                :items="['Medan']"
                hide-details
                single-line
                v-model="region"
                outlined
                dense
                disabled
              ></v-select>
            </v-col>
            <v-col cols="6">
              <h4 class="black--text font-weight-medium mb-2">Main Branch</h4>
              <v-select
                :items="risk_list"
                hide-details
                single-line
                v-model="branches"
                outlined
                dense
                return-object
                item-text="branch_risk_name"
                item-value="branch_risk_id"
                disabled
              ></v-select>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

      <v-col cols="12">
        <v-card class="pa-4" elevation="2" rounded="lg">
          <h4 class="black--text font-weight-medium mb-2">Posisi</h4>
          <div>
            <v-menu
              v-model="posisi_date"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="date"
                  outlined
                  prepend-inner-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  dense
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="date"
                @input="posisi_date = false"
              ></v-date-picker>
            </v-menu>
          </div>

          <div class="w-full d-flex">
            <v-spacer />
            <v-btn color="accent" small> Search </v-btn>
          </div>
        </v-card>
      </v-col>

      <v-col cols="12">
        <v-card class="pa-4">
          <v-row>
            <template v-if="choose === ''">
              <v-col cols="12">
                <v-row>
                  <v-col cols="12" lg="4">
                    <!-- <activity-operasional-card @setChoose="setChoose" /> -->
                  </v-col>
                  <v-col cols="12" lg="4">
                    <activity-perkreditan-card
                      @setChoose="setChoose"
                      :activities="risk_indicator_1.activities"
                    />
                  </v-col>
                  <v-col cols="12" lg="4">
                    <!-- <activity-pendanaan-card @setChoose="setChoose" /> -->
                  </v-col>
                </v-row>
              </v-col>
            </template>

            <template v-if="choose !== ''">
              <v-col cols="12">
                <div>Operasional</div>
                <v-divider></v-divider>
              </v-col>
              <v-col cols="12">
                <v-btn color="primary" outlined small @click="setChoose('')">
                  <v-icon left> mdi-arrow-left </v-icon>
                  Aktivitas
                </v-btn>
              </v-col>
              <v-col cols="12">
                <div class="mb-4 d-flex align-center justify-space-between">
                  <div class="black--text font-weight-medium">
                    {{ choose }}
                  </div>
                  <v-btn color="accent" x-small @click="setChoose('')">
                    Download Excel
                    <v-icon right> mdi-download </v-icon>
                  </v-btn>
                </div>
                <activity-data-table
                  :items="data_table"
                  @processItem="processItem"
                />
              </v-col>
            </template>
          </v-row>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
import ActivityOperasionalCard from "@/components/detail-risk/ActivityOperasionalCard.vue";
import ActivityPerkreditanCard from "@/components/detail-risk/ActivityPerkreditanCard.vue";
import ActivityPendanaanCard from "@/components/detail-risk/ActivityPendanaanCard.vue";
import ActivityDataTable from "@/components/detail-risk/ActivityDataTable.vue";

import DetailRiskServices from "@/services/detailRisk.js";

export default {
  layout: "dashboard",
  head() {
    return {
      title: "Detail Risk",
    };
  },
  components: {
    ActivityOperasionalCard,
    ActivityPerkreditanCard,
    ActivityPendanaanCard,
    ActivityDataTable,
  },
  middleware: "authenticated",
  data() {
    return {
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          href: "/admin",
        },
        {
          text: "Detail Risk",
          disabled: true,
          href: "/admin/detail-risk",
        },
      ],
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      posisi_date: false,
      risk_list: [],
      risk_detail: {},
      risk_indicator_1: {},
      data_table_id: 0,
      data_table: [],
      selected_risk: {},
      region: "Medan",
      branches: "Branches",
      choose: "",
    };
  },
  methods: {
    async getRiskList() {
      await DetailRiskServices.getRiskList()
        .then((res) => {
          this.risk_list = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async getRiskDetail() {
      await DetailRiskServices.getRiskDetail({
        branch_office_id: this.selected_risk.branch_risk_id,
        filter_date: "2022-11-18",
      })
        .then((res) => {
          this.risk_detail = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async getRiskIndikator() {
      await DetailRiskServices.getRiskIndikator({
        branch_office_id: this.selected_risk.branch_risk_id,
        filter_date: "2022-11-18",
        ActivityID: 3,
      })
        .then((res) => {
          this.risk_indicator_1 = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async getDataTable() {
      if (this.data_table_id === 9) {
        await DetailRiskServices.getRiskItemID_9({
          filter_date: "2022-11-18",
        })
          .then((res) => {
            console.log(res.data);
            this.data_table = res.data[0].activity_item_data;
          })
          .catch((err) => {
            console.log(err);
          });
      }

      if (this.data_table_id === 10) {
        await DetailRiskServices.getRiskItemID_10({
          filter_date: "2022-11-18",
        })
          .then((res) => {
            console.log(res.data);
            this.data_table = res.data[0].activity_item_data;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    setListRisk() {
      this.selected_risk = {};
    },
    setSelectedRisk(payload) {
      this.selected_risk = payload;
      this.branches = payload.branch_risk_id;
    },
    setChoose(value) {
      if (value === "") return (this.choose = "");
      this.choose = value.activity_title;
      this.data_table_id = value.activity_id;
    },
    processItem(item) {
      console.log(item);
      this.$router.push(`/admin/detail-risk/${item.id}`);
      this.$store.commit("risk/ADD_DETAIL_RISK", {
        ...item,
        title: this.selected_risk.branch_risk_name,
      });
      this.$store.commit("risk/ADD_DETAIL_RISK_CHOOSEN", this.choose);
    },
  },
  computed: {
    first_state() {
      function isEmptyObject(arg) {
        return typeof arg === "object" && Object.keys(arg).length === 0;
      }
      if (isEmptyObject(this.selected_risk)) return true;
      else return false;
    },
  },
  watch: {
    selected_risk() {
      this.getRiskDetail();
      this.getRiskIndikator();
    },
    choose() {
      this.getDataTable();
    },
  },
  created() {
    this.getRiskList();
  },
};
</script>
