<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs :items="breadcrumbs" class="pa-0">
        <template v-slot:divider>
          <v-icon>mdi-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
      <v-divider class="my-2"></v-divider>
    </v-col>

    <v-col cols="12">
      <v-card class="pa-4">
        <v-row>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">Region</h4>
            <v-select
              :items="region_data"
              hide-details
              single-line
              v-model="region"
              outlined
              dense
            ></v-select>
          </v-col>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">Main Branch</h4>
            <v-select
              :items="branches_data"
              hide-details
              single-line
              v-model="branches"
              outlined
              dense
            ></v-select>
          </v-col>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">Uker</h4>
            <v-select
              :items="ukers_data"
              hide-details
              single-line
              v-model="ukers"
              outlined
              dense
            ></v-select>
          </v-col>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">Aktivitas</h4>
            <v-select
              :items="activity_data"
              hide-details
              single-line
              v-model="activity"
              outlined
              dense
            ></v-select>
          </v-col>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">Indikator</h4>
            <v-select
              :items="indikator_data"
              hide-details
              single-line
              v-model="indikator"
              outlined
              dense
            ></v-select>
          </v-col>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">Status</h4>
            <v-select
              :items="status_data"
              hide-details
              single-line
              v-model="status"
              outlined
              dense
            ></v-select>
          </v-col>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">Periode</h4>
            <v-select
              :items="[]"
              hide-details
              single-line
              v-model="periode"
              outlined
              dense
            ></v-select>
          </v-col>
        </v-row>

        <div class="w-full mt-6 d-flex">
          <v-spacer />
          <v-btn color="accent" small> Search </v-btn>
        </div>
      </v-card>
    </v-col>

    <v-col cols="12">
      <v-card class="pa-4">
        <div class="d-flex justify-space-between">
          <h4 class="black--text font-weight-medium mb-2">Report List</h4>

          <div class="d-flex">
            <div class="mr-8">
              <v-select
                :items="types"
                :value="type"
                dense
                solo
                style="width: 220px"
              ></v-select>
            </div>
            <div>
              <div class="d-flex justify-center">
                <v-btn
                  color="#BA2B2B"
                  class="rounded-lg white--text"
                  style="padding: 0 36px"
                >
                  <a
                    href="http://34.128.119.87:8103/user/downloadcsv"
                    target="_blank"
                    style="text-decoration: none; color: white"
                  >
                    Download
                  </a>
                </v-btn>
              </div>
            </div>
          </div>
        </div>

        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="dataTable"
          hide-default-footer
          :page.sync="page"
          :items-per-page="itemsPerPage"
          item-key="name"
          show-select
          class="elevation-1"
          @page-count="pageCount = $event"
        >
          <template v-slot:[`item.name`]="{ item }">
            <div class="d-flex align-center">
              <v-avatar size="24">
                <img
                  src="https://cdn.vuetifyjs.com/images/john.jpg"
                  alt="John"
                />
              </v-avatar>
              <div class="ml-2">
                {{ item.name }}
              </div>
            </div>
          </template>
        </v-data-table>
        <div class="d-flex justify-end pt-2">
          <v-pagination
            v-model="page"
            :length="pageCount"
            :total-visible="5"
          ></v-pagination>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import {
  region_data,
  branches_data,
  ukers_data,
} from "@/components/detail-risk/data";

export default {
  layout: "dashboard",
  head() {
    return {
      title: "Report",
    };
  },
  middleware: "authenticated",
  data() {
    return {
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          href: "/admin",
        },
        {
          text: "Report",
          disabled: true,
          href: "/admin/report",
        },
      ],

      region: "Medan",
      branches: "KANWIL Medan",
      ukers: "00037 -- KC BANDA ACEH CUT MEUTIA (Konsolidasi-SB)",
      activity: "Operational",
      indikator: "Sharing/Password Bocor",
      status: "Done",
      periode: "",

      region_data,
      branches_data,
      ukers_data,
      activity_data: ["Operational", "Perkreditan", "Pendanaan"],
      indikator_data: ["Sharing/Password Bocor"],
      status_data: ["Done", "Processing", "Need Response"],

      type: "CSV",
      types: ["CSV"],

      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      singleSelect: false,
      selected: [],
      headers: [
        { text: "Name", value: "name" },
        { text: "Email", value: "email" },
        { text: "Company Name", value: "company_name" },
        { text: "Role", value: "role" },
        { text: "Forecast", value: "forecast" },
        { text: "Recent Activity", value: "recent_activity" },
        { text: "Indikator", value: "indikator" },
      ],
      dataTable: [
        {
          name: "Acosta Fischer",
          email: "acostafischer@circum.com",
          company_name: "Hicks Street",
          role: "BRC/URC",
          forecast: "0%",
          recent_activity: "20 days ago",
          indikator: "bricommando_003",
        },
        {
          name: "Witt Goodwin",
          email: "wittgoodwin@circum.com",
          company_name: "Cooper Street",
          role: "RMC",
          forecast: "11%",
          recent_activity: "20 days ago",
          indikator: "bricommando_001",
        },
        {
          name: "Kathrine Walton",
          email: "kathrinewalton@circum.com",
          company_name: "Ferris Street",
          role: "RMC",
          forecast: "63%",
          recent_activity: "21 days ago",
          indikator: "bricommando_001",
        },
        {
          name: "Farley Peck",
          email: "farleypeck@circum.com",
          company_name: "Clinton Avenue",
          role: "BRC/URC",
          forecast: "48%",
          recent_activity: "13 days ago",
          indikator: "bricommando_003",
        },
        {
          name: "Bush Briggs",
          email: "bushbriggs@circum.com",
          company_name: "Bush Street",
          role: "BRC/URC",
          forecast: "75%",
          recent_activity: "5 days ago",
          indikator: "bricommando_002",
        },
        {
          name: "Annabelle Payne",
          email: "annabellepayne@circum.com",
          company_name: "Nostrand Avenue",
          role: "RMC",
          forecast: "99%",
          recent_activity: "1 days ago",
          indikator: "bricommando_001",
        },
        {
          name: "Jackie Robertson",
          email: "jackierobertson@circum.com",
          company_name: "Orient Avenue",
          role: "BRC/URC",
          forecast: "92%",
          recent_activity: "5 days ago",
          indikator: "bricommando_002",
        },
      ],
    };
  },
};
</script>
