<template>
  <v-app>
    <v-app-bar app flat color="white" style="z-index: 9999">
      <div class="boxed-container w-full">
        <div class="d-flex align-center mx-6">
          <!-- Left Content -->
          <NuxtLink
            to="/admin"
            exact
            class="d-flex align-center text-decoration-none"
          >
            <v-img
              :src="require('@/assets/img/icon/logo.png')"
              max-height="80px"
              max-width="80px"
              alt="logo"
              contain
              eager
              class="app-logo me-3"
            ></v-img>
            <v-slide-x-transition>
              <h2 class="app-title text--primary">BRI COMMANDO</h2>
            </v-slide-x-transition>
          </NuxtLink>

          <v-spacer></v-spacer>

          <!-- Right Content -->
          <v-btn icon small class="ms-3">
            <v-icon>
              {{ icons.mdiBellOutline }}
            </v-icon>
          </v-btn>
          <app-bar-user-menu></app-bar-user-menu>
        </div>
      </div>
    </v-app-bar>

    <v-app-bar
      app
      flat
      color="white"
      style="margin-top: 64px; z-index: 9999"
      elevation="2"
    >
      <div class="boxed-container w-full pa-3 rounded-lg cs-bg-orange">
        <div class="d-flex align-items-center">
          <div v-for="(item, i) in items" :key="i">
            <NuxtLink
              :to="item.to"
              exact
              class="d-flex align-center text-decoration-none white--text mx-4 font-weight-medium"
            >
              <v-icon class="mr-2" size="20">
                {{ item.icon }}
              </v-icon>
              {{ item.title }}
            </NuxtLink>
          </div>
        </div>
      </div>
    </v-app-bar>

    <v-main class="broken-white">
      <div class="app-content-container boxed-container py-6">
        <Nuxt />
      </div>
    </v-main>

    <v-footer app inset color="transparent" absolute height="56" class="px-0">
      <div class="boxed-container w-full">
        <div class="d-flex justify-space-between">
          <span> &copy; 2022 BRI COMMANDO</span>
        </div>
      </div>
    </v-footer>
  </v-app>
</template>

<script>
import { mdiMagnify, mdiBellOutline } from "@mdi/js";
import AppBarUserMenu from "@/components/AppBarUserMenu.vue";

export default {
  components: {
    AppBarUserMenu,
  },
  data() {
    return {
      icons: {
        mdiMagnify,
        mdiBellOutline,
      },
      items: [
        {
          icon: "mdi-apps",
          title: "Dashboard",
          to: "/admin",
        },
        {
          icon: "mdi-tray-full",
          title: "Detail Risk",
          to: "/admin/detail-risk",
        },
        // {
        //   icon: "mdi-text-box-multiple-outline",
        //   title: "Report",
        //   to: "/admin/report",
        // },
        // {
        //   icon: "mdi-account",
        //   title: "User Management",
        //   to: "/admin/user-management",
        // },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.v-app-bar ::v-deep {
  .v-toolbar__content {
    padding: 0;

    .app-bar-search {
      .v-input__slot {
        padding-left: 18px;
      }
    }
  }
}

.theme--light.v-icon,
.theme--dark.v-icon {
  color: inherit !important;
}

.boxed-container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}

.broken-white {
  background: #fafafa;
}

.cs-bg-orange {
  background: #df8244;
  color: #fafafa;
}

a.nuxt-link-exact-active {
  border-bottom: 2px solid white !important;
}

@media (max-width: 1440px) {
  .boxed-container {
    max-width: 1080px;
  }
}

@media (max-width: 1280px) {
  .boxed-container {
    max-width: 960px;
  }
}
</style>
