<template>
  <v-row>
    <v-col cols="12">
      <v-breadcrumbs :items="breadcrumbs" class="pa-0">
        <template v-slot:divider>
          <v-icon>mdi-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
      <v-divider class="my-2"></v-divider>
    </v-col>

    <v-col cols="12">
      <v-card class="pa-4">
        <v-row>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">Orgeh</h4>
            <v-select
              :items="branches_data"
              hide-details
              single-line
              v-model="branches_model"
              outlined
              dense
            ></v-select>
          </v-col>
          <v-col cols="6">
            <h4 class="black--text font-weight-medium mb-2">PN / Nama</h4>
            <v-text-field
              hide-details
              single-line
              v-model="name_model"
              outlined
              dense
            ></v-text-field>
          </v-col>
        </v-row>

        <div class="w-full mt-6 d-flex">
          <v-spacer />
          <v-btn color="accent" small> Search </v-btn>
        </div>
      </v-card>
    </v-col>

    <v-col cols="12">
      <v-card class="pa-4">
        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="dataTable"
          hide-default-footer
          :page.sync="page"
          :items-per-page="itemsPerPage"
          item-key="name"
          show-select
          class="table-rounded elevation-1"
          @page-count="pageCount = $event"
        >
          <template v-slot:[`item.name`]="{ item }">
            <div class="d-flex align-center">
              <v-avatar size="24">
                <img
                  src="https://cdn.vuetifyjs.com/images/john.jpg"
                  alt="John"
                />
              </v-avatar>
              <div class="ml-2">
                {{ item.name }}
              </div>
            </div>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2 primary--text" @click="editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon small class="warning--text" @click="deleteItem(item)">
              mdi-delete
            </v-icon>
          </template>
          <template v-slot:top>
            <v-dialog v-model="dialogDelete" max-width="500px">
              <v-card>
                <v-card-title class="text-h5">
                  Are you sure you want to delete this item?
                </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="closeDelete"
                    >Cancel</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                    >OK</v-btn
                  >
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
        </v-data-table>
        <div class="d-flex justify-end pt-2">
          <v-pagination
            v-model="page"
            :length="pageCount"
            :total-visible="5"
          ></v-pagination>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { branches_data } from "@/components/detail-risk/data";

export default {
  layout: "dashboard",
  head() {
    return {
      title: "User Management",
    };
  },
  middleware: "authenticated",
  data() {
    return {
      breadcrumbs: [
        {
          text: "Dashboard",
          disabled: false,
          href: "/admin",
        },
        {
          text: "User Management",
          disabled: true,
          href: "/admin/user-managament",
        },
      ],
      name_model: "",
      branches_model: "",
      branches_data,

      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      singleSelect: false,
      selected: [],
      headers: [
        { text: "Name", value: "name" },
        { text: "Orgeh", value: "email" },
        { text: "Role", value: "role" },
        { text: "Uker Spv", value: "company_name" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      dataTable: [
        {
          name: "Frozen Yogurt",
          email: 159,
          company_name: 6.0,
          role: 24,
          forecast: 4.0,
          recent_activity: "1%",
        },
        {
          name: "Ice cream sandwich",
          email: 237,
          company_name: 9.0,
          role: 37,
          forecast: 4.3,
          recent_activity: "1%",
        },
        {
          name: "Eclair",
          email: 262,
          company_name: 16.0,
          role: 23,
          forecast: 6.0,
          recent_activity: "7%",
        },
        {
          name: "Cupcake",
          email: 305,
          company_name: 3.7,
          role: 67,
          forecast: 4.3,
          recent_activity: "8%",
        },
        {
          name: "Gingerbread",
          email: 356,
          company_name: 16.0,
          role: 49,
          forecast: 3.9,
          recent_activity: "16%",
        },
        {
          name: "Jelly bean",
          email: 375,
          company_name: 0.0,
          role: 94,
          forecast: 0.0,
          recent_activity: "0%",
        },
        {
          name: "Lollipop",
          email: 392,
          company_name: 0.2,
          role: 98,
          forecast: 0,
          recent_activity: "2%",
        },
        {
          name: "Honeycomb",
          email: 408,
          company_name: 3.2,
          role: 87,
          forecast: 6.5,
          recent_activity: "45%",
        },
        {
          name: "Donut",
          email: 452,
          company_name: 25.0,
          role: 51,
          forecast: 4.9,
          recent_activity: "22%",
        },
        {
          name: "KitKat",
          email: 518,
          company_name: 26.0,
          role: 65,
          forecast: 7,
          recent_activity: "6%",
        },
        {
          name: "KitKat2",
          email: 518,
          company_name: 26.0,
          role: 65,
          forecast: 7,
          recent_activity: "6%",
        },
        {
          name: "KitKat3",
          email: 518,
          company_name: 26.0,
          role: 65,
          forecast: 7,
          recent_activity: "6%",
        },
      ],
      dialogDelete: false,
      deletedIndex: -1,
    };
  },

  methods: {
    editItem(item) {
      this.$router.push(`/admin/user-management/${item.name}`);
    },
    deleteItem(item) {
      this.deletedIndex = this.dataTable.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.dataTable.splice(this.deletedIndex, 1);
      this.closeDelete();
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.deletedIndex = -1;
      });
    },
  },

  watch: {
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
};
</script>
