<template>
  <div class="auth-wrapper auth-v1">
    <div class="auth-inner">
      <v-card class="auth-card">
        <!-- logo -->
        <v-card-title class="d-flex align-center justify-center py-7">
          <nuxt-link to="/" class="d-flex align-center">
            <v-img
              :src="require('@/assets/images/logos/logo.svg')"
              max-height="30px"
              max-width="30px"
              alt="logo"
              contain
              class="me-3"
            ></v-img>

            <h2 class="text-2xl font-weight-semibold">BRI Commando</h2>
          </nuxt-link>
        </v-card-title>

        <!-- title -->
        <v-card-text>
          <p class="text-2xl font-weight-semibold text--primary mb-2">
            Welcome to BRI Commando! 👋🏻
          </p>
          <p class="mb-2">Please sign-in to your account</p>
        </v-card-text>

        <!-- login form -->
        <v-card-text>
          <v-alert
            type="error"
            border="left"
            dense
            color="error"
            text
            v-if="errorMsg.error"
          >
            Field
            <span>
              <!-- {{ errorMsg.email }} -->
              {{ errorMsg.error }}
            </span>
          </v-alert>

          <v-form @submit.prevent="submitLogin">
            <v-text-field
              v-model="email"
              outlined
              label="User Name"
              placeholder="1234"
              hide-details
              class="mb-3"
              style="margin-bottom: 12px !important"
            ></v-text-field>

            <v-text-field
              v-model="password"
              outlined
              :type="isPasswordVisible ? 'text' : 'password'"
              label="Password"
              placeholder="············"
              :append-icon="
                isPasswordVisible ? icons.mdiEyeOffOutline : icons.mdiEyeOutline
              "
              hide-details
              @click:append="isPasswordVisible = !isPasswordVisible"
              style="margin-bottom: 12px !important"
            ></v-text-field>

            <v-btn
              block
              color="red"
              class="mt-6"
              type="submit"
              :loading="loading"
            >
              Login
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </div>

    <!-- background triangle shape  -->
    <img
      class="auth-mask-bg"
      height="173"
      :src="
        require(`@/assets/images/misc/mask-${
          $vuetify.theme.dark ? 'dark' : 'light'
        }.png`)
      "
    />

    <!-- tree -->
    <v-img
      class="auth-tree"
      width="247"
      height="185"
      :src="require('@/assets/images/misc/tree.png')"
    ></v-img>

    <!-- tree  -->
    <v-img
      class="auth-tree-3"
      width="377"
      height="289"
      :src="require('@/assets/images/misc/tree-3.png')"
    ></v-img>
  </div>
</template>

<script>
// eslint-disable-next-line object-curly-newline
import { mdiEyeOutline, mdiEyeOffOutline } from "@mdi/js";
import AuthServices from "@/services/auth";

export default {
  head() {
    return {
      title: "Login",
    };
  },
  middleware: "guest",
  data() {
    return {
      isPasswordVisible: false,
      email: "",
      password: "",

      errorMsg: "",
      errorStatus: false,

      icons: {
        mdiEyeOutline,
        mdiEyeOffOutline,
      },

      loading: false,
    };
  },
  methods: {
    async submitLogin() {
      const data = {
        pn: this.email,
        Password: this.password,
      };

      this.errorMsg = "";
      this.loading = true;

      await AuthServices.login(data)
        .then((res) => {
          console.log(res);
          this.$store.commit("auth/SET_AUTH", res.data);
          this.$router.push("/admin");
        })
        .catch((err) => {
          this.errorStatus = true;
          if (err.response) {
            this.errorMsg = err.response.data;
          } else {
            this.errorMsg = "Server didn't response";
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>

<style lang="scss">
@import "@/plugins/vuetify/default-preset/preset/pages/auth.scss";
</style>
